@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.heading-container {
    background-color: white;
    overflow: hidden;
}

#main-top-heading {
    /* font-family: "gioviale", sans-serif; */
    font-family: 'Red Hat Display',  sans-serif;
    font-style: normal;
    font-weight: 700;
    font-kerning: auto;
    letter-spacing: 3px;
    text-align: center;
    line-height: 0.9;
    padding: 60px 0 5px 0;
}

#heading-lets-explore {
    color: white;
    font-family: 'Red Hat Display',  sans-serif;
    font-weight: 500;
    font-style: normal;
    font-kerning: auto;
    letter-spacing: 10px;
    line-height: 1.2;
    position: absolute;
    display: flex;
    text-align: center;
    /* left: 50%;
    transform: translateX(-50%); */
    animation: neonblue 2s ease-in-out infinite alternate;
}
 @keyframes neonblue {
    from {
        text-shadow: 0 0 1.25px #fff, 0 0 2.5px #fff, 0 0 5px #fff, 0 0 7.5px #228dff,
        0 0 10px #228dff, 0 0 17.5px #228dff, 0 0 20px #228dff, 0 0 25px #228dff;
    }
    to {
        text-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 7.5px #fff, 0 0 10px #228dff,
        0 0 17.5px #228dff, 0 0 20px #228dff, 0 0 25px #228dff, 0 0 37.5px #228dff;
    }
 } 
.wave-container {
    position: relative;
    width: 100%;
    background-color: rgba(16,28,25,100);
    display: block;
}
.white-background-top {
    height: 20vh;
    width: 100vw;
    background-color: white;
    position: relative;
} 

        #large-wave-topmost {
            position: absolute;
            width: 102%;
            height: auto;
            background-color: white; 
            animation: MoveUpDown 5s linear infinite;
        }
        #large-wave-second-topmost {
            position: absolute;
            width: 102%;
            height: auto;  
            margin-top: 35%;
            /* background-color: gold; */
            animation: MoveUpDown 5s linear infinite;
        }
        #small-wave-1-back-most-row {
            /* background-color: red; */
            position: absolute;
            height: auto;  
            width: 30%;
            margin-top: 50%;
            margin-left: -10%;
            animation: MoveUpDown 4s linear infinite;
        }
        #small-wave-2-second-row-right {
            position: absolute;
            height: auto;  
            width: 35%;
            margin-top: 58%;
            margin-left: 7%;
            animation: MoveUpDown 4s linear infinite;
        }
        #small-wave-3-second-row-left {
            /* background-color: orange; */
            position: absolute;
            height: auto;  
            width: 35%;
            margin-top: 58%;
            margin-left: -25%;
            animation: MoveUpDown 3s linear infinite;
        }
        #small-wave-4-third-row-right {
            /* background-color: lightyellow; */
            position: absolute;
            height: auto;  
            width: 46%;
            margin-top: 67%;
            margin-left: 20%;
            animation: MoveUpDown 4s linear infinite;
        }
        #small-wave-5-third-row-left {
            /* background-color: yellow; */
            position: absolute;
            height: auto;  
            width: 46%;
            margin-top: 67%;
            margin-left: -25%;
            animation: MoveUpDown 3s linear infinite;
        }
        #small-wave-6-fourth-row-right {
            /* background-color: lightgreen; */
            position: absolute;
            height: auto;  
            width: 62%;
            margin-top: 77%;
            margin-left: 42%;
            animation: MoveUpDown 4s linear infinite;
        }
        #small-wave-7-fourth-row-left {
            /* background-color: green; */
            position: absolute;
            height: auto;  
            width: 70%;
            margin-top: 80%;
            margin-left: -25%;
            animation: MoveUpDown 3s linear infinite;
        }
        @keyframes MoveUpDown {
            0%   {left: 0px; top: 0px;}
            50%  {top: 30px;}
            100% {left: 0px; top: 0px;}
        }
        #white-whale {
            position: absolute;
            height: auto;  
            width: 105%;
            -webkit-transform: scaleX(-1) rotate(-45deg);
            transform: scaleX(-1) rotate(-45deg);
            margin-top: 55%;
            margin-left: -15%;
        }

#ad-campaigns-container {
    display: block;
    /* background-color: rgba(16,28,25,100); */
    /* display: flex;
    justify-content: center; */
    /* parallax */
    height: 100px;
  
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
  }

.textContainer {
    position: relative;
    height: 600px;
    z-index:-2;
    background-color: rgba(16,28,25,100);

}
.portfolio-heading-text {
    background-color: rgba(16,28,25,100);

    /* parallax */
    position: fixed;
    z-index:1;
    left:55px;
    bottom:50px;

    /* Regular formatting */
    text-align: center;
    font-family: 'Red Hat Display',  sans-serif;
    font-weight: 500;
    font-style: normal;
    font-kerning: auto;
    letter-spacing: 3px;
    line-height: 1.2;
    color: white;
    /* animation: neonblue 2s ease-in-out infinite alternate; */
    text-shadow: 1px 1px 2px #fff, 0 0 1em #228dff, 0 0 0.2em #228dff; 
}
#mad-max-poster {
    height: 200px;
    z-index: 20;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #main-top-heading {
        font-size: 70px;
    }
    #heading-text {
        top: 4%;
        font-size: 70px;
    }
    #heading-lets-explore {
        font-size: 70px;
        margin-top: 130%;
    }
    .wave-container {
        height: 100%;
    }
    .portfolio-heading-text {
        font-size: 30px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #main-top-heading {
        font-size: 100px;
    }
    div#heading-text {
        top: 10%;
        font-size: 150px;
    }
    #heading-lets-explore {
        font-size: 110px;
        margin-top: 140%;
    }
    .wave-container {
        background-color: blue;
        height: 120%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #main-top-heading {
        font-size: 150px;
    }
    div#heading-text {
        top: 30%;
        font-size: 200px;
    }
    #heading-lets-explore {
        font-size: 125px;
        margin-top: 120%;
    }
    .wave-container {
        background-color: red;
        height: 135%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #main-top-heading {
        font-size: 150px;
    }
    #heading-lets-explore {
        font-size: 140px;
        margin-top: 125%;

    }
    .wave-container {
        background-color: purple;
        height: 170%;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #main-top-heading {
        font-size: 180px;
    }
    #heading-lets-explore {
        font-size: 180px;
        margin-top: 125%;
    }
    .wave-container {
        background-color: orange;
        height: 190%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1500px) {
    #main-top-heading {
        font-size: 240px;
    }
    #heading-lets-explore {
        font-size: 230px;
        margin-top: 130%;
    }
    .wave-container {
        background-color: yellow;
        height: 350%;
    }
}

.homepage-footer {
    display: block;
    color: white;
}
