@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0; 
}
html {
    scroll-behavior: smooth;
}
.page-title {
    font-family: 'Red Hat Display',  sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.field-note-title {
    font-family: 'Red Hat Display',  sans-serif;
    font-size: 150px;;
    font-weight: 700;
    text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .page-title {
        font-size: 36px;
        padding: 15px 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .page-title {
        font-size: 96px;
        padding: 30px 0;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}