@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Red+Hat+Display&display=swap');

.topnav {
    background-color: white;
    padding: 25px 50px;
    overflow: hidden;
    font-family: 'Red Hat Display',  sans-serif;
}

.topnav-left a {
    float: left;
    font-weight: 700;
    font-size: 30px;
    color: black;
    text-decoration: none;
}

.topnav-right a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-weight: 400;
    text-decoration: none;
}

a:hover {
    font-weight: 700
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .topnav-right {display: none;}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .example {background: green;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .example {background: blue;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .example {background: orange;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .example {background: pink;}
  }

footer {
  display: flex;
  flex-direction: row;
  width: 100wh;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 5%;
}

.social-icons {
  position: relative;
  top: 5px;
  font-size: 30px;
  padding-left: 20px;
}
.footer-text {
  font-weight: 800;
  font-size: 31px;
  padding-left: 40px;
}